# macOS
.DS_Store

# Android Studio / IntelliJ
.idea/
*.iml

# Gradle / Kotlin
.gradle/
.kotlin/

# Local machine config
local.properties

# Build outputs
build/
app/build/
captures/
*.apk
*.aab

# Native build outputs
.externalNativeBuild/
.cxx/
